
<div class="flexcont" style="display: flex;flex-wrap:wrap;text-align:left;">
<div class="leftside-add" style="width:48%;display: flex;flex-wrap:wrap;min-height: 620px;align-content: flex-start;">
<h2 style="width:100%;">Oglas: <%=data.name%></h2>
<h4 style="margin-bottom: 15px;margin-top:20px;">Opis:</h4>
<p style="display:block;padding:0 2% 0;"><%=data.body%></p>
<ul>
    <li>Tip stanovanja: <%=data.apparType%> sobno</li>
    <li>Regija: <%=data.city%></li>
    <li style="font-weight: bold;">Cena: <%=data.price%> €</li>
</ul>


<!-- <h1>glavna slika</h1>
  <img src="//localhost:9000/<%=data.mainPicture%>" alt="" style="height: 190px;">

  <h1>galerija</h1>
  
  <% for(var j=0; j < data.pictures.length; j++) { %>
    <img src="//localhost:9000/<%=data.pictures[j].path.replace('\\', '/')%>" alt="" style="width:190px;">
  <%}%> -->

  <p style="width:100%;margin: 0px 0px 30px 0px;height: 1px;">Dodatno: </p>
  <ul>
    <%if(data.parking != undefined && data.parking == true){%>
      <li><i class="fa fa-check-circle" style="color:#007bff;"></i> Parking </i></li>
    <%}else{%>
      <li><i class="fa fa-times-circle"></i> Parking </i></li>
    <%}%>

    <%if(data.ac != undefined && data.ac == true){%>
      <li><i class="fa fa-check-circle" style="color:#007bff;"></i> Klima </i></li>
    <%}else{%>
      <li><i class="fa fa-times-circle"></i> Klima </i></li>
    <%}%>

    <%if(data.balcony != undefined && data.balcony == true){%>
      <li><i class="fa fa-check-circle" style="color:#007bff;"></i> balkon </i></li>
    <%}else{%>
      <li><i class="fa fa-times-circle"></i> balkon </i></li>
    <%}%>
  </ul>
</div><!--leftside end-->
<div class="rightside-add"  style="width:48%;min-height: 620px;">
  <!-- FIXME: -->
  <style>
    * {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}
    
    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    .fade:not(.show) {
      opacity: 1 !important;
    }   
    
    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      display:flex;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
      color: #f2f2f2;
      font-size: 12px;
      padding: 8px 12px;
      position: absolute;
      top: 0;
    }
    
    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .prev, .next,.text {font-size: 11px}
    }
    </style>
    
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
      <div class="numbertext">1 / <%=data.pictures.length+1%></div>
      <img src="//localhost:9000/<%=data.mainPicture%>" style="width:100%;max-width: 100%;">
      <div class="text"></div>
    </div>
    <% for(var j=0; j < data.pictures.length; j++) { %>
      
      <div class="mySlides fade">
        <div class="numbertext"><%=j+2;%> / <%=data.pictures.length+1%> </div>
        <img src="//localhost:9000/<%=data.pictures[j].path.replace('\\', '/')%>" style="width:100%;max-width: 100%;">
        <div class="text"></div>
      </div>
    <%}%>
    

    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <% for(var j=0; j < data.pictures.length; j++) { %>
        <span class="dot" onclick="currentSlide(<%=j+1%>)"></span>
        
      <%}%>
      <!-- <span class="dot" onclick="currentSlide(3)"></span>  -->
    </div>
    
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>
  <!-- FIXME: -->
  </div><!--rightside end-->
  <div class="bottomformcontact" style="margin:auto;">
  <h1>Pošljite povpraševanje</h1>
  <form role="form" action="/send-email" method="post">
    <br style="clear:both">
    <div class="form-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" >
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="Povpraševanje: <%=data.name%>">
      <input type="hidden" class="form-control" name="postid" value="<%=data._id%>">
      <input type="hidden" class="form-control" name="userid" value="<%=data.userid%>">
    
    </div>
    <div class="form-group">
      <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Sporočilo" maxlength="140" rows="7" required></textarea>
    </div>
    <div class="text-center" style="display:flex;justify-content: center;margin-bottom:10px;">
      <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right btn-submit">Pošlji</button>
    </div>
  </form>
</div>
</div>