<%
var regions = ["Notranjska","Podravska","Pomurska","Gorenjska","Primorska","Savinjska","Koroška","Dolenjska","Posavska","Zasavska"];

%>

<form class="form-signin" method="POST" action="/dashboard/edit/<%=String(item._id)%>" enctype="multipart/form-data" style="display:flex;flex-wrap:wrap;width:60%;">
  
  <h1 class="h3 mb-3 font-weight-normal" style="width:100%;">Uredi oglas:</h1>

  <div class="leftSideForm" style="width: 47%;">
  <label for="name" class="sr-only">naslov</label>
  <input type="text" style="margin-bottom:10px;margin-top: 5px;" id="name" name="name" class="form-control" value="<%=item.name%>" placeholder="naziv" required autofocus="">

  <label for="price" class="sr-only">Cena</label>
  <input type="number" style="margin-bottom:10px;" id="price" name="price" class="form-control" placeholder="Cena" value="<%=item.price%>" required autofocus="">

  <label for="lat" class="sr-only">lat</label>
  <input type="text" style="margin-bottom:10px;" id="lat" name="lat" class="form-control" placeholder="lat" value="<%=item.lat%>" required autofocus="">

  <label for="lng" class="sr-only">lng</label>
  <input type="text" style="margin-bottom:10px;" id="lng" name="lng" class="form-control" placeholder="lng" value="<%=item.lng%>" required autofocus="">

  <label for="description" class="sr-only">opis</label>
  <textarea name="description" style="margin-bottom:10px;" id="description" cols="30" rows="10" class="form-control" placeholder="opis"><%=item.body%></textarea>

  

  <select name="city" id="city" style="margin-bottom:10px;" value="<%=item.city%>">
    <% for(var h=0; h < regions.length; h++) { %>
    <option value="<%=regions[h]%>" <%if(item.city === regions[h]){%> selected <%}%> ><%=regions[h]%></option>
    <%}%>
  </select>
  
  <select name="apparType" id="apparType" >
    <% for(var i=1; i < 5; i++) { %>
    <option value="<%=i%>" <%if(item.apparType==i){%> selected <%}%> ><%=i%> sobno</option>
    <%}%>
  </select>

  <div class="checkbox mb-3" style="display:flex;flex-wrap:wrap;">
    <div class="centerMe" style="margin:auto;display:flex;flex-wrap:wrap;align-items:center;">
      <input type="checkbox"  name="ac" value="1" <%if(item.ac){%> checked <%}%> > Klima<br>
      <input type="checkbox" style="margin-left:20px;"  name="parking" value="1" <%if(item.parking){%> checked <%}%>> Prostor za parkiranje<br>
      <input type="checkbox" style="margin-left:20px;"  name="balcony" value="1" <%if(item.balcony){%> checked <%}%>> Balkon<br>
    </div>
  </div>
</div><!--FIXME: left side end-->
  <div class="rightsideform" style="width: 47%;display:flex;flex-wrap:wrap;margin-left:6%;">
  <label for="pictures" class="" style="font-weight: bold;">Izberite glavno sliko</label>
  <input type="file" multiple style="margin-bottom:10px;" id="mainpic" name="mainpic" class="form-control" >
  <img src="//localhost:9000/<%=item.mainPicture%>" alt="" style="height: 190px;">

  <label for="pictures" class="" style="font-weight: bold;">Izberite slike za gelerijo</label>
  <input type="file" multiple style="margin-bottom:10px;" id="pictures" name="pictures" class="form-control" >

  <div class="smallGalery" style="display:flex;flex-wrap: wrap;justify-content: space-between;">
  <% for(var j=0; j < item.pictures.length; j++) { %>
    <%console.log(item.pictures[j].path);%>
    <img src="//localhost:9000/<%=item.pictures[j].path.replace('\\', '/')%>" alt="" style="width:49%;margin-top:2%;">
  <%}%>
  </div>
  </div><!--FIXME: right side end-->
  <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:30%;margin:3% auto 0;">Posodobi oglas</button>
</form>